* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    padding: 25px;
    background-color: blueviolet;
    color: #fff;
}

.container {
    margin: 25px;
}

.total {
    padding: 25px;
    background-color: gold;
    color: #fff;
    width: 400px;
    border-radius: 5px;
}

.product {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.badge {
    background-color: blueviolet;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.btn {
    all: unset;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: green;
}

.btn-danger {
    background-color: red;
}